@import './responsive.css';
@keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }
    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
        3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
        5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
        7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-drop-bottom {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    to {
      box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
    }
  }

  .navbar {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    font-size: 1.5rem;
    z-index: 1;
    backdrop-filter: blur(8px);
  } 

  .nav-image{
    height: 3.5rem;
    width: fit-content;
    transform: scale(0.9);
    margin-left: 5rem;
  }

  .active {
    border-bottom: 1px solid #bd7f02;
    width: 6rem;
  }

  .nav-link:hover {
    transform: scale(0.9);
    border-bottom: 1px solid #bd7f02;
  }

  .image-1-icon {
    position: absolute;
    top: -5px;
    left: -4px;
    width: 1440px;
    height: 929px;
    object-fit: cover;
    opacity: 0.3;
    mix-blend-mode: normal;
  }
  .about-us,
  .home,
  .tickets {
    text-decoration: none;
    top: 0;
    display: inline-block;
  }
  .home {
    position: absolute;
    left: 0;
    color: var(--color-orange);
    width: 89px;
    height: 27px;
  }
  .about-us,
  .tickets {
    color: inherit;
  }
  .tickets {
    position: absolute;
    left: 121px;
    width: 122px;
    height: 27px;
  }
  .about-us:hover,
  .contact-us:hover,
  .tickets:hover {
    animation: 1s ease-out 0.3s 1 normal none shadow-inset-center;
    opacity: 1;
    color: #FFA902;
  }
  .about-us {
    left: 266px;
    width: 149px;
    cursor: pointer;
  }
  .about-us,
  .contact-us,
  .home-parent {
    position: absolute;
    height: 27px;
  }
  .contact-us {
    text-decoration: none;
    top: 0;
    left: 436px;
    color: inherit;
    display: inline-block;
    width: 183px;
    cursor: pointer;
  }
  
  
  .home-parent {
    margin: 0;
    top: 39px;
    left: 741px;
    width: 519px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family:  var(--font-franklin-gothic-demi);
  }
  
  
  .desktop-1-child {
    position: absolute;
    top: 72px;
    left: 830px;
    max-height: 100%;
    width: 47px;
  }
  .desktop-1-inner,
  .desktop-1-item {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
  }
  .desktop-1-item {
    top: 834px;
    left: -342px;
    width: 793px;
    height: 793px;
    mix-blend-mode: normal;
  }
  .desktop-1-inner {
    top: 803px;
    left: 1072px;
    width: 478px;
    height: 478px;
  }
  
  .rectangle-input {
    border-radius: var(--br-81xl);
    height: 73px;
  }
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-orange);
    position: absolute;
    top: 2340px;
    left: 870px;
    width: 307px;
  }
  .rectangle-button:hover {
    transform: rotate(0deg);
    animation: 1s ease-out 0.3s 1 normal none shadow-pop-tr;
    opacity: 1;
  }
  .rectangle-input {
    top: 1753px;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .rectangle-input {
    border: 0;
    outline: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    left: 710px;
    width: 517px;
    color: #f4f4f4;
    font-size: 18px;
    padding-left: 10px;
  }
  .desktop-1-child1 {
    top: 1861px;
    border-radius: var(--br-81xl);
    height: 73px;
  }
  .desktop-1-child2 {
    top: 1976px;
    border-radius: 50px;
    height: 226px;
  }
  .about,
  .us {
    margin: 0;
    position: absolute;
    top: 940px;
    left: 11px;
    font-size: var(--font-size-161xl);
    font-weight: 200;
    font-family: var(--font-franklin-gothic-demi);
    text-align: center;
  }
  .us {
    top: 1105px;
    left: 250px;
  }

  #us {
    display: none;
  }
  
  .read-more {
    position: absolute;
    top: 1776px;
    left: 784px;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 479px;
  }
  .read-more {
    top: 1919px;
  }
  .read-more {
    top: 2057px;
  }
  .read-more {
    text-decoration: none;
    top: 1093px;
    left: 730px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-franklin-gothic-demi);
    color: var(--color-orange);
    width: 649px;
  }
  .read-more:hover {
    animation: 1s ease 0.3s 1 normal none shadow-inset-center;
    opacity: 1;
    color: #f0be61;
  }
  .our-name-is {
    display: block;
  }
  .our-name-is-container {
    margin: 0;
    position: absolute;
    top: 993px;
    left: 730px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-franklin-gothic-demi);
    display: inline-block;
    width: 649px;
  }
  .rectangle-icon {
    position: absolute;
    top: 1776px;
    left: 104px;
    border-radius: 40px;
    width: 377.1px;
    height: 416.9px;
    object-fit: contain;
  }
  .bimz-1-icon {
    position: absolute;
    top: 227px;
    left: 859px;
    width: 447px;
    height: 346px;
    object-fit: cover;
  }
  .send,
  .send-wrapper {
    position: absolute;
    width: 98px;
    height: 52px;
  }
  /*button styling*/
  .send {
    font: inherit;
    width: fit-content;
      background-color: #FFA902;
      border: 0;
      color: #f4f4f4;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0.5em;
    font-size: 3rem;
    
    padding: 0.5rem 1em;
      font-weight: 600;
      text-shadow: 0 0.0625em 0 #eb9d03 ;
      box-shadow: inset 0 0.0625em 0 0 #da9203, 0 0.0625em 0 0 #da9203,
          0 0.125em 0 0 #c78503, 0 0.25em 0 0 #c78503, 0 0.3125em 0 0 #c78503,
          0 0.375em 0 0 #bd7f02, 0 0.425em 0 0 #bd7f02, 0 0.425em 0.5em 0 #bd7f02;
      transition: 0.15s ease;
      cursor: pointer;
  
      &:active,
      &:hover {
          translate: 0 0.225em;
          box-shadow: inset 0 0.03em 0 0 #f1a101, 0 0.03em 0 0 #ee9f01,
              0 0.0625em 0 0 #e29701, 0 0.125em 0 0 #e09601, 0 0.125em 0 0 #df9502,
              0 0.2em 0 0 #db9301, 0 0.225em 0 0 #ca8701, 0 0.225em 0.375em 0 #ce8901;
  
  }
  }
  .send-wrapper {
    text-decoration: none;
    top: 2270px;
    left: 900px;
    color: #010101;
  }
  
  .fa-brands fa-instagram {
    position: absolute;
    left: 0;
    height: 37px;
  }
  .fa-brands fa-instagram,
  .fa-brands fa-youtube:hover,
  .fa-brands fa-x-twitter:hover,
  .fa-brands fa-facebook:hover {
    animation: 1s ease 0s 1 normal none shadow-inset-center;
    opacity: 1;
    color: #FFA902;
  }
  .facebook-f,
  .fa-brands fa-x-twitter,
  .fa-brands fa-facebook {
    text-decoration: none;
    top: 0;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .fa-brands fa-facebook {
    position: absolute;
    left: 45px;
    height: 45px;
  }
  .fa-brands fa-x-twitter {
    left: 90px;
  
  }
  .facebook-f-parent,
  .fa-brands fa-youtube,
  .fa-brands fa-x-twitter {
    position: absolute;
    height: 45px;
  }
  .fa-brands fa-youtube {
    text-decoration: none;
    top: 0;
    left: 135px;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .facebook-f-parent {
    margin: 0;
    top: 2690px;
    left: 1100px;
    width: 180px;
  }
  .bimzdrumzlive,
  .fa-regular fa-copyright {
    display: flex;
    top: 2704px;
  }
  .fa-regular fa-copyright {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 2709px;
    left: 583px;
    width: 31px;
    height: 22px;
    background-image: url(./public/copyright@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .bimzdrumzlive {
    position: absolute;
    top: 2704px;
    left: 623px;
    font-size: var(--font-size-5xl);
    text-transform: uppercase;
  }
  .mask-group-icon {
    position: absolute;
    top: 1701px;
    left: 212px;
    width: 398.5px;
    height: 435.5px;
    object-fit: cover;
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: #0c0101;
    height: 2828px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: var(--font-franklin-gothic-demi);
  }
  
  ::placeholder {
    font-size: 18px;
    font: inherit;
  }
  
  /*Mobile Reponsiveness Section */
  @media (max-width: 768px) {

    .navbar {
      background: transparent;
      position: fixed;
      top: 0;
      width: 100%;
      height: fit-content;
      font-size: 0.8rem;
      z-index: 1;
      backdrop-filter: blur(8px);
    } 
    
  
    .nav-image {
      margin-left: 0.2rem;
    }
  
    .desktop-1 {
      width: 100%;
      position: relative;
      background-color: #0c0101;
      height: 2828px;
      overflow: hidden;
      text-align: left;
      font-size: 0.8rem;
      color: var(--color-white);
      font-family: var(--font-franklin-gothic-demi);
    }
  
    .bimz-1-icon {
      position: absolute;
      top: 9rem;
      left: 0rem;
      transform: scale(0.7);
    }
  
    .about,
  .us {
    margin: 0;
    position: absolute;
    top: 940px;
    left: 11px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--font-franklin-gothic-demi);
    text-align: center;
  
  }
  .us {
    display: none;
  }
  #us {
    display: block;
  }
  .our-name-is-container {
    margin: 0;
    position: absolute;
    top: 993px;
    left: 11px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-franklin-gothic-demi);
    display: inline-block;
    width: fit-content;
  }
  .read-more {
    position: absolute;
    top: 1776px;
    left: 0;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 479px;
  }
  .read-more {
    top: 1919px;
  }
  .read-more {
    top: 2057px;
  }
  .read-more {
    text-decoration: none;
    top: 74.5rem;
    left: 11px;
    font-size: var(--font-size-5xl);
    font-family: var(--font-franklin-gothic-demi);
    color: black;
    width: 649px;
  }
  .rectangle-icon {
    position: absolute;
    top: 80.9rem;
    left: 0;
    border-radius: 40px;
    width: 377.1px;
    height: 416.9px;
    object-fit: contain;
  }
  .mask-group-icon {
    position: absolute;
    top: 81.6rem;
    left: 0;
    width: 398.5px;
    height: 435.5px;
    object-fit: cover;
  }
  
  
  .desktop-1-child1,
  .desktop-1-child2,
  .rectangle-input {
    border: 0;
    outline: 0;
    background-color: var(--color-gray-100);
    position: absolute;
    left: 0;
    width: 100%;
    color: #f4f4f4;
    font-size: 18px;
    margin: auto;
    padding-left: 10px;
  }
  .send,
  .send-wrapper {
    position: absolute;
    left: 11px;
    width: fit;
    height: 52px;
  }
  .bimzdrumzlive {
    position: absolute;
    top: 2704px;
    left:70px;
    font-size: var(--font-size-5xl);
    text-align: center;
    text-transform: uppercase;
  }
  }
